<%= render "shared/header" %>
<div class="full-wrapper">
  <div class="">
    <div class="row">
      <div class="col-sm-3">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/erkek/erkek1.jpg" alt="erkek" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="badgeArea d-flex justify-content-between">
            <div class="title_yeni">YENI</div>
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Tabbart Black Black Men's Sunglasses</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺629,90
              </div>
              <div class="recommended-item-price-new">
              <span>SEPETTE %15 İNDİRİM</span> ₺535,92
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/erkek/erkek2.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="badgeArea d-flex justify-content-between">
            <div class="title_yeni">YENI</div>
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/erkek/erkek3.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="badgeArea d-flex justify-content-end">
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/erkek/erkek4.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-sm-4">
        <div class="card border-light">
          <div style="position:relative;">
            <div id="carousel1" class="carousel slide carousel-container" >
              <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="carousel_indicator active"></li>
                <li data-target="#carousel1" data-slide-to="1" class="carousel_indicator"></li>
                <li data-target="#carousel1" data-slide-to="2" class="carousel_indicator"></li>
                <li data-target="#carousel1" data-slide-to="3" class="carousel_indicator"></li>
                <li data-target="#carousel1" data-slide-to="4" class="carousel_indicator"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/erkek/erkek1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/erkek/erkek1_1.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/erkek/erkek1_2.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/erkek/erkek1_3.jpg" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/erkek/erkek1_4.jpg" alt="Fifth slide">
                </div>
              </div>
            </div>
          </div>
          <div class="badgeArea d-flex justify-content-end">
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card border-light">
          <div style="position:relative;">
            <div id="carousel3" class="carousel slide carousel-container">
              <ol class="carousel-indicators">
                <li data-target="#carousel3" data-slide-to="0" class="carousel_indicator active"></li>
                <li data-target="#carousel3" data-slide-to="1" class="carousel_indicator"></li>
                <li data-target="#carousel3" data-slide-to="2" class="carousel_indicator"></li>
                <li data-target="#carousel3" data-slide-to="3" class="carousel_indicator"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/erkek/erkek3.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/erkek/erkek3_1.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/erkek/erkek3_2.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/erkek/erkek3_3.jpg" alt="Fourth slide">
                </div>
              </div>
            </div>
          </div>
          <div class="badgeArea d-flex justify-content-end">
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card border-light">
          <div style="position:relative;">
            <div id="carousel2" class="carousel slide carousel-container">
              <ol class="carousel-indicators">
                <li data-target="#carousel2" data-slide-to="0" class="carousel_indicator active"></li>
                <li data-target="#carousel2" data-slide-to="1" class="carousel_indicator"></li>
                <li data-target="#carousel2" data-slide-to="2" class="carousel_indicator"></li>
                <li data-target="#carousel2" data-slide-to="3" class="carousel_indicator"></li>
                <li data-target="#carousel2" data-slide-to="4" class="carousel_indicator"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/erkek/erkek2_1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/erkek/erkek2_2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/erkek/erkek2_3.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/erkek/erkek2_4.jpg" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/erkek/erkek2_5.jpg" alt="Fifth slide">
                </div>
              </div>
            </div>
          </div>
          <div class="badgeArea d-flex justify-content-end">
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</div>
<%= render "shared/footer" %>

<script>
  $(document).ready(function() {
    $('.carousel-container').each(function() {
      const carousel = $(this);
      const items = carousel.find('.carousel-item');
      const indicators = carousel.find('.carousel_indicator');

      carousel.on('mousemove', function(event) {
        const containerWidth = carousel.width();
        const mouseX = event.offsetX;
        const itemWidth = containerWidth / items.length;
        var index = Math.floor(mouseX / itemWidth);
        // Ensure index is within valid range
        index = Math.max(0, Math.min(index, items.length - 1));

        items.removeClass('active').eq(index).addClass('active');
        indicators.removeClass('active').eq(index).addClass('active');
      });
    });

    // $('.carousel').each(function() {
    //   $(this).carousel({
    //     interval: false
    //   });

    //   $(this).find('.carousel_indicator').on('click', function() {
    //     $(this).parent().carousel('cycle');
    //   });

    //   $(this).on('mouseenter', function() {
    //     $(this).carousel('pause');
    //   });

    //   $(this).on('mouseleave', function() {
    //     $(this).carousel('cycle');
    //   });
    // });
  });
</script>