<div class="row full-height">
  <!-- Image 1 -->
  <div class="col-md-3">
    <div style="position: relative;">
      <a href="/page1">
        <img src="/img/belge/kadin.jpg" alt="Female" class="img-fluid image-container hover-image">
        <div class="contentArea">
          <div class="titleH">KADIN</div>
        </div>
      </a>
    </div>
  </div>
  <!-- Image 2 -->
  <div class="col-md-3">
    <div style="position: relative;">
      <a href="/page2">
        <img src="/img/belge/erkek.jpeg" alt="Male" class="img-fluid image-container hover-image">
      <div class="contentArea">
          <div class="titleH">ERKEK</div>
        </div>
      </a>
    </div>
  </div>
  <!-- Image 3 -->
  <div class="col-md-3">
    <div style="position: relative;">
      <a href="/page3">
        <img src="/img/belge/blueblock.jpeg" alt="Blue Shade glasses" class="img-fluid image-container hover-image">
      <div class="contentArea">
          <div class="titleH">BLUEBLOCK</div>
        </div>
      </a>
    </div>
  </div>
  <!-- Image 4 -->
  <div class="col-md-3">
    <div style="position: relative;">
      <a href="/page4">
        <img src="/img/belge/sale.jpeg" alt="Sale" class="img-fluid image-container hover-image">
      <div class="contentArea">
          <div class="titleH">SALE</div>
        </div>
      </a>
    </div>
  </div>
</div>
