
<%= render "shared/header" %>
<div class="full-wrapper">
  <div class="">
    <div class="row">
      <div class="col-sm-3">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/blue_block/blueblock_1.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="badgeArea d-flex justify-content-between">
            <div class="title_yeni">YENI</div>
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
              <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/blue_block/blueblock_2.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="badgeArea d-flex justify-content-end">
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/blue_block/blueblock_3.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="badgeArea d-flex justify-content-end">
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/blue_block/blueblock_4.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-sm-4">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/blue_block/blueblock_1.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="badgeArea d-flex justify-content-between">
            <div class="title_yeni">YENI</div>
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
              <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="card border-light">
          <div style="position:relative;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="carousel_indicator active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="carousel_indicator"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2" class="carousel_indicator"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3" class="carousel_indicator"></li>
              </ol>
              <div class="carousel-inner carousel-container">
                <div class="carousel-item active">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/blue_block/blueblock_3.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/blue_block/blueblock_1.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/blue_block/blueblock_4.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 b_image" src="/img/belge/dashboard/blue_block/blueblock_2.jpg" alt="fourth slide">
                </div>
              </div>
            </div>
          </div>
          <div class="badgeArea d-flex justify-content-end">
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/blue_block/blueblock_3.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="badgeArea d-flex justify-content-end">
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>

<script>
  const carouselContainer = document.querySelector('.carousel-container');
  const carouselItems = document.querySelectorAll('.carousel-item');
  const carouselIndicator = document.querySelectorAll('.carousel_indicator');

  let currentItemIndex = 0;

  carouselContainer.addEventListener('mousemove', (event) => {
    const containerWidth = carouselContainer.offsetWidth;
    const mouseX = event.offsetX;
    const slideWidth = containerWidth / carouselItems.length;

    const newIndex = Math.floor(mouseX / slideWidth);

    if (newIndex !== currentItemIndex) {
      carouselItems[currentItemIndex].classList.remove('active');
      carouselItems[newIndex].classList.add('active');
      carouselIndicator[currentItemIndex].classList.remove('active');
      carouselIndicator[newIndex].classList.add('active');
      currentItemIndex = newIndex;
    }
  });

  $(document).ready(function() {
  $('#carouselExampleIndicators').carousel({
    interval: false // Disable autoplay
  });

  $('.carousel_indicator').on('click', function() {
    $('#carouselExampleIndicators').carousel('cycle'); // Resume carousel on indicator click
  });

  $('#carouselExampleIndicators').on('mouseenter', function() {
    $(this).carousel('pause'); // Pause carousel on hover
  });

  $('#carouselExampleIndicators').on('mouseleave', function() {
    $(this).carousel('cycle'); // Resume carousel on mouse leave
  });
});
</script>
