
<div class="full-wrapper">
  <%= render "shared/header" %>
  <div class="">
    <div class="row">
      <div class="col-sm-3">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/blue_block/blueblock_1.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="badgeArea d-flex justify-content-between">
            <div class="title_yeni">YENI</div>
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
              <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/blue_block/blueblock_2.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="badgeArea d-flex justify-content-end">
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/blue_block/blueblock_3.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="badgeArea d-flex justify-content-end">
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/blue_block/blueblock_4.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-sm-3">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/blue_block/blueblock_1.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="badgeArea d-flex justify-content-between">
            <div class="title_yeni">YENI</div>
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
              <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/blue_block/blueblock_2.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="badgeArea d-flex justify-content-end">
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/blue_block/blueblock_3.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="badgeArea d-flex justify-content-end">
            <div class="">
              <div class="title_indirim_20">2. ürüne %20 indirim</div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border-light">
          <div style="position:relative;">
            <img src="/img/belge/dashboard/blue_block/blueblock_4.jpg" alt="Female" class="card-img-top img-fluid b_image">
            <div class="add_to_cart">Sepete Ekle</div>
          </div>
          <div class="card-body mt-3">
            <div class="recommended_item_title">
              <a href="#">Firoz Leopard Mavi Işik Koruyucu Gözlük</a>
            </div>
            <div class="recommended-item-prices">
              <div class="recommended-item-price-old">
                ₺699,90
              </div>
              <div class="recommended-item-price-new">
               <span>SEPETTE %15 İNDİRİM</span> ₺594,92
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>