
<%= render "shared/header" %>
<div class="full-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <img src="/img/belge/dashboard/kedin/basic.png" alt="Female" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <img src="/img/belge/dashboard/kedin/design.png" alt="Female" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <img src="/img/belge/dashboard/kedin/premium.png" alt="Female" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <img src="/img/belge/dashboard/kedin/blue_block_586c.png" alt="Female" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <img src="/img/belge/dashboard/kedin/metal_koleksiyon_6009.png" alt="Female" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <img src="/img/belge/dashboard/kedin/sale_blue_block_27fe.png" alt="Female" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <img src="/img/belge/dashboard/kedin/sale_f315e222_9.png" alt="Female" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
