@import '../stylesheets/scss/style.scss';

.full-height {
  height: 100vh; /* Set height to 100% of viewport height */
}

/* Optional: adjust image size and margin */
.image-container {
  width: 100%;
  height: 100% !important;
}

.hover-image {
  filter: grayscale(100%); /* Convert to grayscale */
  transition: filter 0.3s ease-in-out; /* Smooth transition */
}

.hover-image:hover {
  filter: grayscale(0); /* Remove grayscale filter on hover */
}

.titleH {
  margin: 34px;
  padding: 0 10px;
  position: relative;
  display: inline-block;
  letter-spacing: 3.15px;
  color: white;
  font-weight: 900;
  line-height: 40px;
  font-size: 21px;
}

.titleH::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Adjust the bottom position as needed */
  left: 0;
  width: 100%;
  height: 2px; /* Adjust the height as needed */
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}

.hover-image:hover + .contentArea .titleH::after {
  background-color: black;
}

.contentArea {
  float: left;
  text-align: center;
  position: absolute;
  bottom: auto;
  top: 0;
  left: 0;
  right: 0;
}
