@import '../stylesheets/scss/style.scss';
@import '../stylesheets/trendyol_scss/home_page';


.b_image {
  width: 423px !important;
  height: 600px !important;
}

.badgeArea {
  float: left;
  text-align: left;
  position: absolute;
  // display: flex;
  // justify-content: space-between;
  bottom: auto;
  top: 0;
  left: 0;
  right: 0;
}

.title_yeni {
  margin: 5px;
  padding: 10px 5px;
  display: inline-block;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-weight: 400;
  font-size: 15px;
  flex-shrink: 0;
}

.title_indirim_20 {
  margin: 5px;
  padding: 2px 5px;
  display: inline-block;
  background-color: red;
  border-radius: 10px;
  color: white;
}

.card {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); /* Initial shadow: no shadow */
  transition: box-shadow 0.3s ease-in-out; /* Transition for shadow */
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Shadow on hover */
}

.add_to_cart {
  position: absolute;
  bottom: -20px; /* Adjust the bottom position as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 25px;
}

.recommended_item_title{
  text-align: center;
  width: 100%;
  position: relative;
}

.recommended_item_title > a {
  display: block;
  width: 100%;
  line-height: 20px;
  height: 20px;
  font-weight: 350;
  font-size: 14px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recommended-item-prices {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  padding-top: 5px;
  height: 40px;
}

.recommended-item-price-old {
  font-size: 14px;
  line-height: .8;
  font-weight: 350;
  color: #000;
}

.recommended-item-price-new span {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .14px;
  font-weight: 500;
  margin-right: 10px;
}

.recommended-item-price-new {
  font-size: 14px;
  letter-spacing: .14px;
  font-weight: 500;
  color: #fa3c03;
}